<p>Hi {{userName}},</p>
<p>Happy birthday! Your birthday gift is ready.</p>
<p>Gift: {{giftName}}</p>
<p>Gift value: {{giftValue}}</p>
<p><a href="{{claimUrl}}">View it in your membership center</a></p>
