<p>Hello {{userName}},</p>
<p>Thanks for subscribing to our newsletter! You are now the first to know about our latest updates and offers.</p>
<p>Manage your subscription here: <a href="{{manageUrl}}">{{manageUrl}}</a></p>