@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Helvetica Neue", Arial, sans-serif;
  --font-geist-mono: "SFMono-Regular", "Menlo", "Monaco", Consolas, "Liberation Mono", "Courier New", monospace;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    --background: #0a0a0a;
//    --foreground: #ededed;
//  }
//}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

/* 5. 修复自动填充背景色变黄/蓝的问题 */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #111827 !important;
    transition: background-color 5000s ease-in-out 0s;
}