[Unit]
Description=SanQ Daily Backup
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=ubuntu
UMask=0077
Environment=HOME=/home/ubuntu
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/ubuntu/backup-db.sh

StandardOutput=append:/home/ubuntu/sanq-app/backup.log
StandardError=append:/home/ubuntu/sanq-app/backup.log
